<h3>금액별 통계</h3>
<div style="text-align: right">
  Season : <select ng-model="season" ng-options="season._id as season.name for season in seasons">
  </select>
  <button ng-click="load()" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-search" arial-hidden="true"></span></button>
</div>

<div class="row">
  <div class="col-md-6">
    <div kendo-chart="pieChart"
         k-data-source="pieChartData"
         k-options="pieChartOptions" k-rebind="pieChartOptions" class="k-chart"></div>
  </div>
  <div class="col-md-6">
    <table class="table table-table-condensed">
      <thead>
        <th>이름</th>
        <th>총 금액</th>
        <th>평균 금액</th>
      </thead>
      <tbody>
        <tr ng-repeat="r in rawData">
          <td>{{r.player}}</td>
          <td>{{r.totalCostDisplay}}</td>
          <td>{{r.averageCostDisplay}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>