<ul class="nav nav-pills">
    <li><a href="/#/statistics/players">Players</a></li>
    <li class="active"><a href="/#/statistics/numbers">Numbers</a></li>
</ul>
<div class="row">
  <div class="col-md-6">
    <div kendo-chart="pieChart"
         k-data-source="pieChartData"
         k-options="pieChartOptions" k-rebind="pieChartOptions" class="k-chart"></div>
  </div>
  <div class="col-md-6">
    <table class="table table-table-condensed">
      <thead>
        <th>번호</th>
        <th>걸린횟수</th>
      </thead>
      <tbody>
        <tr ng-repeat="r in pieChartData">
          <td>{{r.number}}</td>
          <td>{{r.count}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>