<ul class="nav nav-pills">
    <li><a href="/#/statistics/players">Players</a></li>
    <li class="active"><a href="/#/statistics/numbers">Numbers</a></li>
    <li><a href="/#/statistics/money">Money</a></li>
</ul>
<div style="text-align: right">
  Season : <select ng-model="season" ng-options="season._id as season.name for season in seasons">
  </select>
  <button ng-click="load()" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-search" arial-hidden="true"></span></button>
</div>
<div class="row">
  <div class="col-md-6">
    <div kendo-chart="pieChart"
         k-data-source="pieChartData"
         k-options="pieChartOptions" k-rebind="pieChartOptions" class="k-chart"></div>
  </div>
  <div class="col-md-6">
    <table class="table table-table-condensed">
      <thead>
        <th>번호</th>
        <th>걸린횟수</th>
        <th>확률(%)</th>
      </thead>
      <tbody>
        <tr ng-repeat="r in pieChartData">
          <td>{{r.number}}</td>
          <td>{{r.count}}</td>
          <td>{{r.percentage | number:2}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>